{% extends 'base.html' %}

{% block content %}
{% if profile %}
<div class="container text-center">

    <div class="row my-3">
        <div class="col-md-8">
            <h1 class="mb-5">{{ profile.user.username }}'s Profile</h1>
            {% if meeps %}
            {% for meep in meeps %}
            <div class="alert alert-dark mb-5" role="alert">
                {{ meep }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="card">
                {% include 'partials/_profile_follow.html' with card=profile.follows.all title="Follows" %}
            </div>
            <div class="card my-3">
                {% include 'partials/_profile_follow.html' with card=profile.followed_by.all title="Followed By" %}
            </div>
            {% if profile.user != request.user %}
            <form action="" method="post" class="mb-3">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                <button type="submit" class="btn btn-outline-danger" name="follow" value="unfollow">Unfollow
                    @{{ profile.user.username }}</button>
                {% else %}
                <button type="submit" class="btn btn-outline-success" name="follow" value="follow">Follow
                    @{{ profile.user.username }}</button>
                {% endif %}
            </form>
            {% endif %}
            {# Check for correct user #}
            {% if request.user.id == profile.user.id %}
            <div class="my-3">
                <a href="{% url 'update_user' %}" class="btn btn-outline-secondary" role="button">Update Profile</a>
            </div>
            {% endif %}
        </div>
    </div>



    {% endif %}

    {% endblock content %}