{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Profile List</h1>
<div class="mt-3">
  {% if profiles %}
  {% for profile in profiles %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">

        <div class="mb-3 d-flex align-items-center justify-content-center">     
          {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.username }}" class="img-fluid rounded-start"
            width="200" height="200" />
          {% else %}
            {% comment %} <img src="https://placeholder.com/200/200" class="card-img" alt="{{ profile.user.username }}"> {% endcomment %}
            <img src="{% static 'images/default_profile_pic.png' %}" class="img-fluid rounded-start" alt="{{ profile.user.username }}'s Profile" width="200" height="200">
          {% endif %}
        </div>

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ profile.user.username }}</h5>
          <p class="card-text"><a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}</a>
          </p>
          <p class="card-text"><small class="text-muted">Last Updated: {{ profile.updated_at }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock content %}